target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

saved_ongoing/
test_data/
import_stockstatus/
.idea/
options.json
*.xlsx

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store!/Cycle Count Fri Oct 21 16-29-35 PDT 2022.xlsx
!/import_stockstatus/
!/saved_ongoing/
/version.json
/saved_ongoing/
/import_stockstatus/
